@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Cor da alça (thumb) */
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #000; /* Cor da trilha (track) */
  border-radius: 1rem;
}
