@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Cor da alça (thumb) */
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #000; /* Cor da trilha (track) */
  border-radius: 1rem;
}

/* Personalização da barra de rolagem horizontal */
/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar-horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #4a90e2; /* Cor da alça (thumb) horizontal */
  border-radius: 5px;
}

::-webkit-scrollbar-track:horizontal {
  background-color: #e0e0e0; /* Cor da trilha (track) horizontal */
}